#home-page {
  display: flex;
  flex-direction: column;
  padding: 40px 5px 0;
  text-align: center;
}

#home-page #main-prize {
  font-weight: 600;
}

@media only screen and (min-width: 610px) {
  #home-page {
    padding: 115px 10px 0;
    font-size: 24px;
  }
  #home-page #main-prize {
    font-weight: 900;
  }
}